@charset "UTF-8";
/* CSS Document */
body{
	font-family: 'PT Sans', sans-serif;
}
h2{
	font-size: 50px;
	
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.fa-chevron-up{
	font-size: 20px;
	display: inline-block;
	padding: 20px;
	background: none;
	color: rgba(158,158,158,1.00);
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.fondoimg{
	height: 100%;
}
#sec-acerca{
	margin-top: 30px;
	margin-bottom: 60px;
}
#sec-servicios{
	background-image:url(../img/ceiba.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 60px;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #555;
  color: #fff;
}
#sec-contacto{
	background-color:rgba(250,250,250,1.00);
	padding-bottom: 30px;
	margin: 20px 0px;
}
.contacto{
	color: #FFFFFF;
	background-color:rgba(111,111,111,1.00);
	padding-top: 40px;
	padding-bottom: 60px;
	
}
.sec-portafolio{
	background-color:rgba(250,250,250,1.00); 
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}