@charset "UTF-8";
/* CSS Document */
body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}

.icon-arrow-up2:before {
  content: "\ea3a";
}
.fa-chevron-up{
	font-size: 20px;
	display: inline-block;
	padding: 20px;
	background: none;
	color: rgba(158,158,158,1.00);
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.fondoimg{
	height: 100%;
}
#foto-c{ 
	padding-top: 50px;
	padding-bottom: 30px;
}
#t4i{
	display: block;
	margin: auto;
	width: 70%;
}
#sec-fotografia{
	background-color:rgba(250,250,250,1.00);
	padding-bottom: 30px;
}
#sec-fotografia .row{
	align-content: center;
}
#sec-disngraf{
	background-image:url(../img/ceiba.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
#grafdesign{
		padding-top: 20px;
	padding-bottom: 30px;
}
#diseno{
	display: block;
	margin: auto;
	width: 70%;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #555;
  color: #fff;
}
#sec-contacto{
	background-color:rgba(250,250,250,1.00);
	padding-bottom: 30px;
	margin: 20px 0px;
}
#contac{
	align-content: center;
}
.contacto{
	background-color:rgba(250,250,250,1.00); 
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.sec-portafolio{
	background-color:rgba(250,250,250,1.00); 
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}